{% extends "base.html" %}
{% load i18n %}


{% block extrahead %}
    {% load staticfiles %}
   <link rel="stylesheet" href="{% static "css/newstopics.css" %}">
   <script src="{% static "js/newstopics.js" %}"></script>
   <script src="{% static "js/vis.js" %}"></script>
   <script>
        var url_process_query = "{% url "newstopics.views.process_query" %}";
        var url_visualization = "{% url "newstopics.views.visualization" %}";
        //var num_pages = {{pagination.num_pages}};

        // record whehter it's simple or advanced search
        var current_qry_mode = "{{current_query.mode}}";
        // get selected newspapers
        var selected_newspapers = {{selected_newspapers|safe}};
    </script>    
{% endblock %}

{% block A %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<a class="navbar-brand">KB News (1914-1940)</a> 

    {% csrf_token %}
    <form action="/simple_search/" method="GET" id="simple_search_form">
    <!-- hidden inputs -->
    <input type="hidden" name="sort" id="res_sort" class="input_sort" value={{result_sort.type}}>

    <div class="navbar-form navbar-left" >
    <div class="input-group">
        <!--Get the search query, and re-fill the inputbox after query being processed -->
        <input type="text" name="q" class="form-control" id="searchbox" placeholder="Search the news" value="{{ simple_search_form.q }}" />
        
        <span class="input-group-btn">
            <button id="search_submit"  class="btn btn-success" type="submit">
            Go
            <!--span class="glyphicon glyphicon-search"></span-->
            </button>
        </span>

        <span id="btn_show_analyses"  class="advanced_searchbox_info pull-right">
        Show analyses &raquo;
        </span>
        <span class="advanced_searchbox_info pull-right" id="advanced_option">Advanced search &raquo;</span>


    </div>
    </div>
    </form>

    </nav>
{% endblock %}

{% block B %}
    <!-- advanced search options -->
    <div id="advance_search" class="advanced_searchbox {{advanced_search_status}}">
        <div class="advanced_searchbox_title">
            The articles returned as search results ...
            <span class="advanced_searchbox_info pull-right" id="advanced_searchbox_learn">Learn more &raquo;</span>
        </div>

        <div class="alert alert-info hidden" role="alert" id="advanced_searchbox_info">
            <button type="button" class="close" id="advanced_searchbox_hideinfo">
            <span aria-hidden="true">&times;</span>
            </button>
            <p><strong>How to write complex queries?</strong></p> 
            <p>
            <ol>
                <li><p><strong>Wildcard queries</strong>: use * to match any character sequences including the empty one, and ? to match any single character. <br/>E.g., <em>duits*land</em> would match both Duitschland and Duitsland.</p></li>
                <li><p><strong>Exact phrases</strong>: use double quotes. It searches the exact phrase in the documents. E.g., <em>"first world war"</em>. </p></li>
                <li><p><strong>Proximity query</strong>: While a prhase query expects all query terms in exactly the same order, a proximity query allows the terms to be further apart or in a different order. A maximum edit distance of words in a phrase can be specified. E.g., <em>"First world war"~5</em>.
            </ol>
            </p>
            <p><strong>What are "must", "mustnot", and "should" queries?</strong></p>
            <ul>
                <li><p><strong>must:</strong> The query terms must appear in matching documents.</p></li>
                <li><p><strong>should:</strong> The query terms should but not necessarily all appear in matching documents. If no <em>must</em> query is specified, then one or more <em>should</em> query terms must match a document.</p></li>
                <li><p><strong>must not:</strong> The query terms must not appear in matching documents.</p></li>
 
            </ul>
        </div>

        <form id="advanced_search_form" class="form-horizontal" role="form" action="/advanced_search/" method="GET">
            <!-- hidden inputs -->
            <input type="hidden" name="sort" id="res_sort" class="input_sort" value={{result_sort.type}}>


            <!-- Form fields-->
            <div class="form-group">
            <label for="must" class="col-sm-3 control-label">must contain: </label>
            <div class="col-sm-9">
            <input type="text" class="form-control advanced_query_form" 
                    id="must" name="must" 
                    value="{{advanced_search_form.must}}"
                    placeholder="Terms that must occur in the article">
            </div>
            </div>

            <div class="form-group">
            <label for="mustnot" class="col-sm-3 control-label">must not contain: </label>
            <div class="col-sm-9">
            <input type="text" class="form-control advanced_query_form" 
                    id="mustnot" name="mustnot" 
                    value="{{advanced_search_form.mustnot}}"
                    placeholder="Terms that must not occur in the article">
            </div>
            </div>
            
            <div class="form-group">
            <label for="should" class="col-sm-3 control-label">should contain: </label>
            <div class="col-sm-9">
            <input type="text" class="form-control advanced_query_form" 
                    id="should" name="should" 
                    value="{{advanced_search_form.should}}" 
                    placeholder="Terms that should but not necessarily occur in the article">
            </div>
            </div>

            {# New date selection widget #}
            <div class="form-group">
            <label for="periods" class="col-sm-3 control-label">in these periods: </label>
                <div class="col-sm-8">
                    <!-- Area for datepickers-->
                    <div id="datepickers"></div>
                    <!--Hidden input save the dates -->
                    <input type="hidden" id="periods" name="periods" value="{{advanced_search_form.periods}}">
                    <!-- Add another date range -->
                    <br/>
                    <button type="button" class="btn btn-sm btn-primary" id="add_datepicker">
                    Add a period
                    </button>
                </div>
            </div>

            {% comment %}
            <!-- specify the time periods-->
            <div class="form-group">
            <label for="periods" class="col-sm-3 control-label">in these periods: </label>
            <div class="col-sm-4">
                <input type="text" size="4" maxlength="4" class="space3 advanced_query_form"
                        id="period_start"
                        value = "{{advanced_search_form.period_start}}"
                        placeholder="1914"> to
                <input type="text" size="4" maxlength="4" class="space3 advanced_query_form" 
                        id="period_end"
                        value = "{{advanced_search_form.period_end}}"
                        placeholder="1940">
            </div>
        
            <!--adding a specified period-->
            <div class="col-sm-5">
                <a class="btn btn-sm btn-primary"
                    id="btn_add_period"
                    >Add this period</a>
            </div>
            </div>

            <!-- error message for improper input-->
            <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9 err-msg" id="period_err">
            </div>
            </div>

            <!--field to catch the specified periods-->
            <div class="form-group">
            <label for="selected_periods" class="col-sm-3 control-label"></label>
            <div class="col-sm-9" id="div_selected_periods">
            </div>
            <input type="hidden" name="periods" id="input_selected_periods"
                    value="{{advanced_search_form.selected_periods}}"
                    > 
            </div>
            {% endcomment %}
    
            <!-- Select newspaepers to be searched-->
            <div class="form-group">
            <label for="newspapers" class="col-sm-3 control-label">in these newspapers: </label>
            <div class="col-sm-9">
                <!--Newspaper options-->
                {% for np_group in newspaper_counts %}
                <select class="selectpicker" name="select_np_{{np_group.id}}" multiple
                    data-live-search=true title="{{np_group.loc}}"
                    data-selected-text-format="count>2"
                    data-width=75%
                    id="selectpicker_{{np_group.id}}"
                    >
                        <option id="all_{{np_group.id}}" class="option_all" >All</option>
                        <option id="none_{{np_group.id}}" class="option_none" >None</option>
                        <option data-divider=true></option>
                        {% for np in np_group.news %}
                        <option data-subtext="({{np.1}})" id="opt_{{np_group.id}}_{{np.2}}" >{{np.0}}</option>
                        {% endfor %}
                </select>
 
                <p class="text-info"> {{np_group.loc}} newspapers</p>
                {% endfor %}
            </div>
            <!-- Submit the form -->
            <div class="form-group">
                <div class="col-sm-offset-7 col-sm-5">
                <!-- The start count of the results to be retrieved -->
                <input type="hidden" name="page", id="page" value={{pagination.current_page}}>
                <!-- submit buttons -->
                <button type="submit" class="btn btn-success" id="search_submit_advanced">Search</button>
                <button type="button" class="btn btn-danger" id="btn_clearform">Clear all</button>
                </div>
            </div>


        </form> 
    </div>

    <!--Summarize comparison of concept statistics between locations-->
    <div id="vis_area" class="visualization">
        <div id="vis_news_counts">
            
        </div>
    </div>

{% endblock %}

{% block C %}
    <div id="show_analyses" class="analyses">
    </div>
    <div id="analyses"></div>

    <!-- Meta info of the result list -->
    <div id="result_top" class="info {{retrieval_status}}">
        {{total_results}}
        <div class="dropdown pull-right">
            Sort by: 
            <a data-toggle="dropdown" data-target="#" class="select_sort">
                <span id="sortby">{{result_sort.name}}</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li class="opt_sort" data=""><a>Relevance</a></li>
                <li class="opt_sort" data="date"><a>Date</a></li>
                <li class="opt_sort" data="doclength"><a>Article length</a></li>
            </ul>
        </div>
    </div>

    <!--Result list -->
    <div id="resultlist" class="list-group">
        {% for r in resultlist %}
        <!--Snippet-->
        <!-- add target="_bland" to the link if we want it to open on a new tab-->
        <a class="list-group-item result-item" href="{{r.url}}">
            <div class="restitle">
                <span class="pull-right info">{{r.res_counter}}</span>
                {% autoescape off %}{{r.title}}{% endautoescape %}
            </div>
            <!--Meta info-->
            <div class="metainfo">
            {{r.date}}<br/>
            {{r.papertitle}} ({{r.loc}})
            </div>
            <div class="info">#{{r.doclength}} words</div>
            <div class="list-group-item-text ressummary">
                {% autoescape off %}{{r.summary}}{% endautoescape %}</div>
         </a>
        {% endfor %}
    </div>
    <div id="pagination" class="pull-right">
        <ul id="pagination_pages" class="pagination pagination-sm">
            <li id="li_left_pager" class="{{pagination.left_most_hidden}}">
                <a class="pager" id="left_pager">&laquo;</a>
            </li>
            {% for page in pagination.pages %}
                <li id="li_page_{{page.page_id}}" class="{{page.page_active}} li_pager">
                    <a class="pager" id="page_{{page.page_id}}" >{{page.page_id}}</a>
                </li>
            {% endfor %}
            <li id="li_right_pager" class="{{pagination.right_most_hidden}}">
                <a class="pager" id="right_pager">&raquo;</a>
            </li>

        </ul>    
    </div>

{% endblock %}
