.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

span.highlight {
    background-color: yellow;
}

div.info {
    color: #C0C0C0;
}

div.metainfo{
    font-weight: bold; 
}

div.restitle{
    color: steelblue;
    font-size: 16px;
}

a.pager {
    cursor: pointer;
}

div.legends {
    margin-bottom: 20px;
}

div.location {
    font-size: 18px;
    font-weight: bold;
}

div.vis_location {
    font-size: 15px;
    font-weight: normal;
}

div.advanced_searchbox {
    border-style: solid;
    border-width: 1px;
    border-color: #C0C0C0;
    padding: 20px;
}

div.advanced_searchbox_title {
    font-size: 18px;
    margin-bottom: 15px;
}

span.advanced_searchbox_info {
    font-size: 15px;
    color: steelblue;
    cursor: pointer;
    margin-left: 10px;
}


