.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

span.highlight {
    background-color: yellow;
}

.info {
    color: #A0A0A0;
    font-size: 14px;
}


a.result-item:link {
    color: steelblue;
}
a.result-item:visited {
    color: #660099; 
}

div.metainfo{
    color: #666;
    font-weight: bold; 
}

div.restitle{
    font-size: 16px;
}

div.ressummary{
    color: #555;
}
a.pager {
    cursor: pointer;
}

div.legends {
    margin-bottom: 20px;
}

div.location {
    font-size: 18px;
    font-weight: bold;
}

div.vis_location {
    font-size: 15px;
    font-weight: normal;
}

div.advanced_searchbox {
    border-style: solid;
    border-width: 1px;
    border-color: #C0C0C0;
    padding: 20px;
}

div.advanced_searchbox_title {
    font-size: 18px;
    margin-bottom: 15px;
}

span.advanced_searchbox_info {
    font-size: 15px;
    color: steelblue;
    cursor: pointer;
    margin-left: 10px;
}

.err-msg {
    color: red; 
}

span.period_label {
    background-color: #C0C0C0;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    margin-right: 2px;
}

span.remove_period{
    background-color: #C0C0C0;
    color: #fff;
    font-size: 17px;
    margin-left: 3px;
    cursor: pointer;
}

button.select_period {
    margin-top: 5px;
}

select.select-news {
    margin-bottom: 5px;
}

li.selected {
    background-color: #CEECF5;
}
