div.termcloud_wrap {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: 120px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin:5px;
    
}

div.termcloud {
    height: 100px;
    width: 100px;
    margin-right: 5px;
    display: inline-block;
}
