.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

div.termcloud_wrap {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: 200px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin:5px;
    
}

div.termcloud {
    height: 150px;
    width: 200px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
}

div.tc-term {
    float: left;
    margin-left: 7px;
    color: steelblue;
    max-width: 198px;
}
/*
div.tc-term-constraint {
    padding: 0px;
    max-width: 100px;
    float: none;
}
*/
.section-label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}
